@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300&family=Teko&family=Yanone+Kaffeesatz:wght@200;400;600&display=swap");
* {
  padding: 0;
  margin: 0;
}

main {
  background-color: #101010;
  color: lightgray;
}

.jumbotron {
  background-image: url(pics/papel1.jpg);
  background-size: 100%;
  overflow: hidden;
}

#headerPic {
  height: 160px;
}

nav {
  background-color: #181818;
}

.nav-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
}

.barPic1 {
  width: 50px;
}

.barPic2 {
  display: none;
  width: 50px;
}

.barLogo:hover .barPic1 {
  display: none;
}

.barLogo:hover .barPic2 {
  display: block;
}

.nav-link {
  text-decoration: none;
  color: whitesmoke;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.nav-link:hover {
  letter-spacing: 5px;
  color: white;
}

#menuHead1 {
  text-align: center;
  padding: 100px 0;
}

.corc {
  color: goldenrod;
  font-weight: 900;
}

.princ {
  font-size: 80px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.pPrinc {
  border: goldenrod 0.5px;
  border-style: solid;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 24px;
  font-weight: 400;
  padding: 20px 0;
}

.menut {
  text-transform: uppercase;
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 600;
  font-size: 50px;
}

.menut--color1 pink {
  color: color1 pink;
}

.menut--color2 violet {
  color: color2 violet;
}

.menut--color3 purple {
  color: color3 purple;
}

.cMenu {
  background: -webkit-gradient(linear, left top, right top, from(#101010), color-stop(#181818), to(#101010));
  background: linear-gradient(to right, #101010, #181818, #101010);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media only screen and (max-width: 576px) {
  .cMenu {
    background: -webkit-gradient(linear, left top, left bottom, from(#101010), color-stop(#181818), to(#101010));
    background: linear-gradient(to bottom, #101010, #181818, #101010);
  }
}

.imgMenu1 {
  height: 350px;
  display: block;
  margin: 0px auto;
}

.container-fluid {
  margin-left: 0px;
}

#menu-item1 {
  background-image: url(pics/papel1.jpg);
  color: whitesmoke;
  padding: 100px 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#menu-item2 {
  background-image: url(pics/papel2.jpeg);
  color: #181818;
  padding: 100px 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#menu-item3 {
  background-image: url(pics/papel1.jpg);
  color: whitesmoke;
  padding: 100px 100px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#menu-item1:hover {
  -webkit-filter: none;
          filter: none;
}

#menu-item2:hover {
  -webkit-filter: none;
          filter: none;
}

#menu-item3:hover {
  -webkit-filter: none;
          filter: none;
}

#galeriaItem1 {
  height: 500px;
  border-style: hidden solid;
  border-width: 5px;
  border-color: #101010;
  background-image: url(pics/tattoo1.jpeg);
  background-repeat: none;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#galeriaItem1 h3 {
  text-align: center;
  padding-top: 95%;
  color: #101010;
  font-family: "Teko", sans-serif;
  font-size: 70px;
}

#galeriaItem2 {
  height: 500px;
  border-style: hidden solid;
  border-width: 5px;
  border-color: #101010;
  background-image: url(pics/tattoo2.jpeg);
  background-repeat: none;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#galeriaItem2 h3 {
  text-align: center;
  padding-top: 95%;
  color: #101010;
  font-family: "Teko", sans-serif;
  font-size: 70px;
}

#galeriaItem3 {
  height: 500px;
  border-style: hidden solid;
  border-width: 5px;
  border-color: #101010;
  background-image: url(pics/estudio1.jpeg);
  background-repeat: none;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#galeriaItem3 h3 {
  text-align: center;
  padding-top: 95%;
  color: lightgray;
  font-family: "Teko", sans-serif;
  font-size: 70px;
}

#gmap {
  width: 100%;
}

@media only screen and (max-width: 576px) {
  #galeriaItem1 {
    -webkit-filter: none;
            filter: none;
  }
  #galeriaItem2 {
    -webkit-filter: none;
            filter: none;
  }
  #galeriaItem3 {
    -webkit-filter: none;
            filter: none;
  }
}

#galeriaItem1:hover {
  -webkit-filter: none;
          filter: none;
}

#galeriaItem2:hover {
  -webkit-filter: none;
          filter: none;
}

#galeriaItem3:hover {
  -webkit-filter: none;
          filter: none;
}

#form {
  padding: 50px 0px;
}

.princ--1 {
  text-transform: none;
  border: none;
  padding-top: 25px;
}

footer {
  padding: 50px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #101010;
  color: white;
  text-align: center;
}

footer h4 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

footer .container {
  padding: 10px 0;
  margin-bottom: 0px;
}

.btn--red1 {
  background-color: orange;
  list-style: none;
  padding: 5px 0;
}

.btn--red2 {
  background-color: lightblue;
  list-style: none;
  padding: 5px 0;
}

.btn--red3 {
  background-color: limegreen;
  list-style: none;
  padding: 5px 0;
}

@media only screen and (max-width: 576px) {
  #menuHead1 {
    padding: 50px 20px;
  }
  .princ {
    font-size: 40px;
  }
  .pPrinc {
    font-size: 18px;
    padding: 10px 10px;
  }
  .menut {
    font-size: 35px;
  }
  #headerPic {
    height: 80px;
  }
  #menu-item1 {
    -webkit-filter: none;
            filter: none;
    padding: 50px 20px;
  }
  #menu-item2 {
    -webkit-filter: none;
            filter: none;
    padding: 50px 20px;
  }
  #menu-item3 {
    -webkit-filter: none;
            filter: none;
    padding: 50px 20px;
  }
  #form {
    padding: 50px 20px;
  }
}
/*# sourceMappingURL=style.css.map */